/* Common Css Start */
*{
   margin:0;
   padding:0;
   box-sizing:border-box;
   outline:0;
 }
 ul{
    list-style-type: none;
 }
 a{
    text-decoration: none;
 }
/* Common Css End */
body {
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   margin: 0;
   background-color: #f0f0f0;
 }
 
 .clock {
   background-color: #fff;
   border-radius: 50%;
   width: 200px;
   height: 200px;
   display: flex;
   justify-content: center;
   align-items: center;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
 }
 
 .time {
   font-size: 24px;
   font-weight: bold;
 }
 